:root {
    --primary: #1abc9c;
    --secondary: #2980b9;
    --dark: #212121;
    --light: #F3F3F3;
    --blue: #16a085;
    --orange: #f39c12;
    --yellow:#eccc68;
  }
  
  body {
    margin: 0;
    font-family: montserrat, sans-serif;
    display: inline;
    gap: 1rem;
    justify-content: center;
    padding-top: 1rem;
  }
  
  .text{
    text-align: center;
    padding: 2rem;
  }
  
  #instructions{
    text-align: left;
    margin: 4rem 10rem;
    /*background-color: var(--light);*/
  }
  
  .button {
    background-color: #4B4C4D ;
    border: none;
    border-radius: .5rem;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: var(--primary);
    color: #4B4C4D;
  }
  
  
  .footer{
    margin: 0;
    position: relative;
    bottom:0px;
    background: #2c3e50;
    width: 100%;
    height: 300px;
  }
  
  /*Cards*/
  
  .cards {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 300px 300px;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
    perspective: 1000px;
  }
  
  .coordinateCards {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 300px 300px;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
    perspective: 1000px;
  }
  
  .deck {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: .5rem;
    color: white;
    user-select: none;
  }

  #player{
    background-color: #e6e6e6;
    color: var(--dark);
    text-align: center;
    font-weight: bold;
    padding: 4px;
    width: 75px;
    border: none;
    font-size: 16px;
    border-radius: .5rem;
  }

  #player option{
    color: var(--dark);
    text-align: center;
    font-weight: bold;    
  }
  
  
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--front h2 {
    color: #FFF;
    font-size: 32px;
  }
  
  .card__face--back {
    background-image: linear-gradient(to bottom right, var(--yellow), var(--orange));
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--back h2 {
    color: var(--light);
    font-size: 50px;
    object-fit: contain;
  }
  
  /* Card Two*/
  .cardTwo__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .cardTwo__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  .cardTwo__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .cardTwo__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardTwo__face--front h2 {
    color: #FFF;
    font-size: 32px;
  }
  
  .cardTwo__face--back {
    background-image: linear-gradient(to bottom right, var(--yellow), var(--orange));
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardTwo__face--back h2 {
    color: var(--light);
    font-size: 50px;
  }
  
  /* Card Three*/
  .cardThree__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .cardThree__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  .cardThree__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .cardThree__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardThree__face--front h2 {
    color: #FFF;
    font-size: 32px;
  }
  
  .cardThree__face--back {
    background-image: linear-gradient(to bottom right, var(--yellow), var(--orange));
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardThree__face--back h2 {
    color: var(--light);
    font-size: 50px;
  }
  
  /* Card Four*/
  .cardFour__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .cardFour__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  .cardFour__face--front.is-inactive{
    transform: rotateY(180deg);
    background-image: linear-gradient(to bottom right, var(--light), var(--dark));
  }
  
  
  .cardFour__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .cardFour__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardFour__face--front h2 {
    color: #FFF;
    font-size: 32px;
  }
  
  .cardFour__face--back {
    background-image: linear-gradient(to bottom right, var(--yellow), var(--orange));
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardFour__face--back h2 {
    color: var(--light);
    font-size: 50px;
  }
  
  
  #coordinateImage{
    width: 100%;
    height: 100%;
  }

  /* Home Page */
  #mainMenu {
    margin: 4rem 2rem;
    padding: 10px;
    text-align:center;
  }

  #howToPlay {
    margin: 4rem 2rem;
    text-align:center;
  }


  .chooseDegrees{
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    margin: 20px;
}
.chooseDegrees .degree_image_top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.chooseDegrees:hover .degree_image_top {
    display: inline;
}

.chooseRadians{
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  margin: 20px;
}
.chooseRadians .radians_image_top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.chooseRadians:hover .radians_image_top {
  display: inline;
}

.chooseCoordinates{
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  margin: 20px;
}
.chooseCoordinates .coordinates_image_top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.chooseCoordinates:hover .coordinates_image_top {
  display: inline;
}

  
  /* Side Menu */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4b4c4d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav p {
    padding-left: 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  /* Footer */
  .footer-basic {
    padding:40px 0;
    background-color:#4b4c4d;
    color:#fff;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
  
  
  /* If the screen size is 900px wide or less */
  @media screen and (max-width: 900px) {
  .cards {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: 150px 150px;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
    perspective: 1000px;
  }
  
    .coordinateCards {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: 150px 150px;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
    perspective: 1000px;
  }
  
    .button {
    padding: 8px 16px;
    font-size: 12px;
    margin: 4px 2px;
  }
  }